<%= form_with(model: @listing, local: true, data: {remote: true}) do |form| %>
<div class="ad-setting">
  <div class="ad-name">
    <p>広告名</p>
    <%= form.text_field :ad_name %><br>
  </div>
  <div class="ad-parameter">
    <p>広告パラメータ</p>
    ?<%= form.text_field :ad_parameter, :required => true %><br>
  </div>
  <div class="ad-selector">
    <p>可変セレクター</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">
      登録する
    </button>
    <div class="modal" id="modal-sample" tabindex="-1">
      <div class="modal-dialog">
        <%= render partial: 'picker' %>
      </div>
    </div>
  </div>
  <div class="ad-json">
    <p>JSON</p>
    <%= form.text_field :kahen_selector, :required => true %><br>
  </div>
  <div class="toggle-button">
    <p>On/Off</p>
    <div class="btn-group btn-toggle" data-toggle="buttons">
      <label class="btn btn-secondary1 btn-default"><%= form.radio_button :on_off, true, class: "bradio" %>ON</label>
      <lable class="btn btn-secondary2 btn-default"><%= form.radio_button :on_off, false, class: "bradio" %>OFF</label>
    </div>
  </div>
  <div class="right-form">
    <div class="save-delete">
      <button class="btn btn-primary save-setting">保存</button>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
if ($('.btn-secondary1').find('.bradio').is(':checked')) {
  $('.btn-secondary2').removeClass('btn-primary')
  $('.btn-secondary1').addClass('btn-primary')
  $('.btn-secondary1').addClass('active')
} else {
  $('.btn-secondary1').removeClass('btn-primary')
  $('.btn-secondary2').addClass('btn-primary')
  $('.btn-secondary2').addClass('active')
}
$('.btn-toggle').on('click', function () {
  $('.btn-toggle').find('.btn').toggleClass('btn-primary')
});
</script>
