<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Listing code</th>
      <th>Creative name</th>
      <th>Ad name</th>
      <th>Ad parameter</th>
      <th>Kahen selector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <% if listing.listing_user == current_user.user_id %>
        <tr>
          <td><%= listing.listing_code %></td>
          <td><%= listing.creative_name %></td>
          <td><%= listing.ad_name %></td>
          <td><%= listing.ad_parameter %></td>
          <td><%= listing.kahen_selector %></td>
          <td><%= link_to 'Show', listing %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
