<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <h1 class="text-center">リスティング可変君</h1>
      <%= link_to "会員登録", new_user_registration_path %>
      |
      <%= link_to "ログイン", new_user_session_path %>
      |
      <%= link_to "ログアウト", sign_out_path %>
      <% if defined?(@user.id) %>
        <%= link_to "マイページ", "/users/#{@user.id}"%>
      <% end %>
      <ul class="list-inline list-group">
        <li class="list-group-item">
          <a href="/home/tag">初期タグ</a>
        </li>
        <li class="list-group-item active">クリエイティブ登録</li>
        <li class="list-group-item">
          <a href="/listings/options">クリエイティブ編集</a>
        </li>
        <li class="list-group-item">
          <a href="/listings/setting">セッティング</a>
        </li>
      </ul>
      <%= form_with(model: @listing, local: true) do |form| %>
      <div class="main-container">
        <div class="description">
          <p>リスティング広告に対応して表示したいコードを登録して下さい。</p>
        </div>
        <div class="listing-code">
          <!-- <input class="listing-code" type="text" name="" value=""> -->
          <%= form.text_area :listing_code, :size => "80x10", :class => "listing-code" %>
        </div>
        <div class="right-form">
          <div class="creative-name">
            クリエイティブ名 : <%= form.text_field :creative_name %><br><br>
            <button type="submit" name="button">保存</button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
