<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @api.host %>
</p>

<p>
  <strong>Path:</strong>
  <%= @api.path %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @api.hash_i %>
</p>

<p>
  <strong>Location:</strong>
  <%= @api.location %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @api.listing %>
</p>

<%= link_to 'Edit', edit_api_path(@api) %> |
<%= link_to 'Back', apis_path %>
