<!DOCTYPE html>
<html>
  <head>
    <title>Listing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <a class="logo" href="/">
          <h2>リスティング可変君</h2>
        </a>
        <nav>
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->

          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成したときに、 deviseにより自動で作成されてますので、rake routesで確認できます -->
          ID:
          <strong><%= link_to current_user.user_id, "/listings" %></strong>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          |
          <%= link_to "ログアウト", sign_out_path %>
          <%= link_to "registar", "/listings/registar"%>
          <%= link_to "registar", "/listings/options"%>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="row">
        <h1 class="text-center">リスティング可変君</h1>
        <ul class="list-inline list-group">
          <li class="list-group-item" value="setting">初期タグ</li>
          <li class="list-group-item" value="registar">クリエイティブ登録</li>
          <li class="list-group-item" value="options">クリエイティブ編集</li>
          <li class="list-group-item" value="setting">セッティング</li>
        </ul>
        <div class="main-container">
          <div class="description">
            <p class="descrive"></p>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  // listのactive化
  var url = $(location).attr('pathname').split('/')
  $('.list-group-item').each(function () {
    if ($(this).attr('value') == url[2]) {
      $(this).addClass('active')
    }
  })
  // リストクリックで画面遷移
  $('.list-group-item').on('click', function () {
    window.location.href = '/listings/' + $(this).attr('value')
  })
  // セレクターの挙動
  $(document).ready(function () {
    // 通常DOMがすべて読み込まれた後に実行
    $(document).on('click', '#selector', function () {
      window.location.href = $(this).val()
    })
  })
</script>
