<!DOCTYPE html>
<html>
  <head>
    <title>Listing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/listings/data.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <a class="logo" href="/">
          <h2>リスティング可変君</h2>
        </a>
        <nav>
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成したときに、 deviseにより自動で作成されてますので、rake routesで確認できます -->
          ID:<strong><%= link_to current_user.user_id, "/listings" %></strong>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>|
          <%= link_to "ログアウト", sign_out_path %>
        </nav>
      </header>
      <p class="notice">
        <% if notice %>
          <% unless flash.empty? %>
            <script type="text/javascript">
              toastr.success('<%= notice %>')
            </script>
          <% end %>
        <% end %>
      </p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <div class="row">
          <h1 class="text-center">リスティング可変君</h1>
          <ul class="list-inline list-group">
            <li id="list-tag" class="list-group-item" value="tag">初期タグ</li>
            <li class="list-group-item" value="registar">クリエイティブ登録</li>
            <li class="list-group-item" value="options">クリエイティブ編集</li>
            <li class="list-group-item" value="setting">セッティング</li>
          </ul>
          <div class="main-container">
            <div class="description">
              <p class="descrive"></p>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <p class="notice">
        <% if notice %>
          <% unless flash.empty? %>
            <script type="text/javascript">
              toastr.success('<%= notice %>')
            </script>
          <% end %>
        <% end %>
      </p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <div class="row">
          <h1 class="text-center">リスティング可変君</h1>
          <div class="col-sm-6 col-sm-offset-3">
            <%= link_to "会員登録", new_user_registration_path %>
            |
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </div>
      </div>
    <% end %>
    <script type="text/javascript">
      // $(document).ready(function ()
      if (window.location.pathname == "/") {
        $('#list-tag').addClass('active')
      }
      // listのactive化
      var url = $(location).attr('pathname').split('/')
      $('.list-group-item').each(function () {
        if ($(this).attr('value') == url[2]) {
          $(this).addClass('active')
        }
      })
      // リストクリックで画面遷移
      $('.list-group-item').on('click', function () {
        window.location.href = '/listings/' + $(this).attr('value')
      })
      if (window.location.search != null) {
        $('.list-group-item').addClass('selected')
      }
      // セレクターの挙動 }) $(window).load(function(){
      $(document).on('change', '#selector', function () {
        if ($(this).val()) {
          window.location.search = 'id=' + $(this).val()
        }
      })
      // });
    </script>
  </body>
</html>
